<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/assets/JS/debug.js"></script>
    
</head>
<body>
    
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1> >JavaScript Debugging< </h1>
            </div>
        </div>

        
        <div class="panel panel-info">
              <div class="panel-heading">
                    <h3 class="panel-title job_name">Awaiting Job</h3>
              </div>
              <div class="panel-body job_data">
                    Waiting for data...
              </div>
        </div>
        
    </div>

        
</body>
</html>